* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

.App {
    width: 40%;
    margin: 0px auto;
    padding-top: 100px;

    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
    background-color: red;
}

body {
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);

    height: 100vh;
}


