.App {
    width: 40%;
    margin: 0px auto;
}

.todoform {
    background-color: rgb(118, 127, 247);
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.todoform input {
    width: 80%;

    padding: 10px 5px;
}

.todoform button {
    padding: 15px 10px;
}